#txt .res{
	height: 90%;
	width: 80%;
	margin: auto;
	overflow: hidden;
	position: relative;
}

#txt .res{
	font-family: Roboto;
}

#txt .res form{
	margin-top: 20px;
	text-align: center;
}

#txt .res input{
	background: lightgray;
	border:1px solid lightgray;
}

#txt .res select{
	
	background: lightgray;
	border: 1px solid lightgray;
}



#txt .res select{
	color:black;
	font-family: Roboto;
	background: lightgray;
	border-radius: 4px;

	font-size: 18px;
}

#txt .res .btn{
	height: 40px;
	width: 100px;
	background: slategray;
	border: 0px;

}

#txt .res .btn:hover{
	background: white;
	cursor: hand;
}

#txt .txtBorder{
	height: 460px;
	width: 620px;
	background: #1d2f3c;
	border-top: solid 1px rgba(255,255,255,.5);
	border-radius: 5px;
	box-shadow: 0px 2px 7px rgba (0,0,0,0.2);
	overflow: hidden;
	position: absolute;
	top: 25%;
	left: 25%;
}

#txt{
	height: 100%;
	width: 100%;
	background: salmon;
}

#footer{
	
}